[DEVICE]
Name=ATMEGA32
Clock=8000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_Brushless7_AVR.c
[HEADERS]
Count=3
File0=Click_Brushless7_config.h
File1=Click_Brushless7_types.h
File2=Click_Brushless7_other_peripherals.h
[PLDS]
Count=1
File0=Click_Brushless7.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=Brushless7_AVR_LT
File4=easyavr_v7_ATMEGA32
File5=//SPI
File6= TWI
File7=//PWM16bit
File8=//ADC
Count=9
[SEARCH_PATH]
Path0=..\..\..\mikroBUS BDF API\Uses\
Path1=..\..\Uses\
Count=2
[HEADER_PATH]
Path0=..\..\..\mikroBUS BDF API\Uses\
Path1=..\..\Uses\
Count=2